<div class='todo-page'>
  <div class='add'>
    <button {{on 'click' this.onAdd}}>Create New</button>
  </div>
  <div class='cards'>
    {{#each this.store._todos as |todo index|}}
      <Todo::TodoCard
        class='example'
        @title={{todo.title}}
        @completed={{todo.completed}}
        @onToggle={{this.onToggle}}
        @onTextChange={{this.onTextChange}}
        @onDelete={{this.onDelete}}
      />
    {{/each}}
  </div>
</div>